<launch>
    <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, rabbit, engineer]"/>
    <arg name="load_robot" default="true"/>
    <arg name="use_sim" default="true"/>
    <arg name="paused" default="false"/>

    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="1.0"/>
    <arg name="z_pos" default="0.2"/>

    <arg name="roller_type" default="simple" doc="simple or realistic"/>

    <rosparam file="$(find rc_gazebo)/config/actions.yaml" command="load" if="$(arg use_sim)"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find rc_description)/urdf/$(arg robot_type)/$(arg robot_type).urdf.xacro
         use_sim:=true roller_type:=$(arg roller_type)"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)"/>
        <arg name="world_name" value="$(find rc_gazebo)/worlds/empty.world"/>
    </include>

    <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find rc_gazebo)/models/task_model/model.sdf -sdf -model task_model"/>

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
          args="-x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description -urdf -model $(arg robot_type)"
          output="screen"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
    </node>

</launch>
